*
{
	box-sizing: border-box;
}

body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

/*HANDY CLASSES*/

.text-uppercased
{
	text-transform: uppercase;
}


.list-unstyled
{
	list-style-type: none;
}

.list-inline
{
	display: inline-block;
}

.list-inline>li
{
	display: inline-block;
}

.li-inline
{
	display: inline-block;
}

.margin-reset
{
	margin:0;
}

.content-centered
{
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.column-centered
{
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.box-bordered
{
	border-top: solid 5px #000;
	border-bottom: solid 5px #000;
	background-color: #FFF;
}

.img-triptych
{
	width: 30%;
}

.text-centered
{
	text-align: center;
}

.content
{
	width: 25%;
	padding: 10px 30px;
}

.content a
{
	text-decoration: none;
	color: #000;
	font-weight: 600;
}

/*PAGE FLOW*/

#mobile-nav
{
	display: none;
}

#head
{
	width: 100%;
	background: url('../images/home_main_desktop.jpg') no-repeat center;
	background-size: cover;
	height: 90vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.btn-white
{
	background-color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 0;
	border: none;
	margin-bottom: 100px;
}

.chevron-white
{
	color: #FFFFFF;
	font-weight: 300;	
}

.bar-black
{
	background-color: #000000;
	color: #FFFFFF;
}

.bar-black .content-centered > p
{
	display: inline;
}

.bar-black li
{
	margin-left: 50px;
}

#menu
{
	min-height: 50px;
}

#menu .content-centered
{
	align-items: center;
	padding: 50px;
}

#menu img
{
	width: 150px;
}

#triptych
{
	background-color: #E1E1E1;
	display: flex;
	flex-flow: row nowrap;
	font-weight: 700;
}

#triptych img
{
	width: 100%;
}

#triptych .content-centered
{
	margin-bottom: 100px;
}

#capucas
{
	background: url('../images/slideshow-1.jpg') no-repeat center;
	background-size: cover;
	height: 70vh;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

#capucas .content
{
	margin-left: 50%;
}

#wholesale
{
	height: 80vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#wholesale div
{
	height: 50%;
	margin: 0 20px;

}

#wholesale img
{
	height: 100%;
}

#subscribe
{
	background-color: #EBEBEB;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	padding: 30px 0 30px 0;
}

.textbox-white
{
	padding: 15px;
	width: 250px;
	border: none;
}

.btn-black
{
	padding: 15px;
	color: #FFF;
	background-color: #000;
	border: none;
	margin-left: -5px;
}

#subscribe p
{
	font-size: 24px;
}

#subscribe .large
{
	display: inline;
}

#subscribe .small
{
	display: none;
}

#logo img
{
	width: 50px;
	margin: 50px 0;
}

#menu-footer
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	border-bottom: 3px solid #EBEBEB;
}

#copyright
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-size: 12px;
}

@media screen and (max-width: 768px)
{
	#mobile-nav
	{
		display: block;
		padding: 5px;
	}

	#mobile-nav>ul
	{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding-left: 0;
	}

	#mobile-nav li
	{
		margin-left: 0;
	}

	#mobile-nav #logo
	{
		background-color: grey;
		width: 40px;
		border-radius: 50px;
		border: 1px solid silver;
		padding: 3px;
	}

	#head
	{
		background: url('../images/home_main_mobile.jpg') no-repeat center;
		background-size: cover;
		height: 90vh;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	.container .bar-black
	{
		display: none;
	}

	#menu ul
	{
		display: none;
	}

	#triptych .content-centered
	{
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	.img-triptych
	{
		width: 80%;
		margin-bottom: 10px;
	}

	#capucas .content, #wholesale .content
	{
		margin: 0 auto;
		width: 80%;
	}

	#wholesale
	{
		position: relative;
	}

	#wholesale .content
	{
		z-index: 1;
	}

	#wholesale div:nth-child(2)
	{
		position: absolute;
		top: 50px;
		left: 50px;
	}

	#subscribe .content-centered
	{
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	#subscribe .small
	{
		display: inline;
	}

	#subscribe .large
	{
		display: none;
	}
	#subscribe p
	{
		font-size: 12px;
		text-align: center;
	}

	#subscribe form
	{
		font-size: 14px;
		margin-bottom: 10px;
	}

	footer>.column-centered>#logo
	{
		display: none;
	}

	footer #menu-footer
	{
		flex-flow: row wrap;
		justify-content: center;
		align-content: stretch;
	}

	footer #menu-footer ul
	{
		width: 40%;
		padding-left: 0px;
	}

	#dropdown
	{
		display: none;
		position: absolute;
		background-color: #000;
	}

}